main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.search-icon {
    height: 100%;
}

#search-input, .search-icon {
    margin: auto 5px;
}

#search-input {
    position: relative;
    top: -3px;
}

@media screen and (min-width: 690px) {
    #search-input {
        width: 400px;
    }
}

button[type="submit"] {
    padding: 2px;
    margin: 0;
}

button[type="submit"]:hover {
    padding: 1px;
}