.posts {
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.posts > a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

a:hover .post .post-title {
  text-decoration: underline;
}

.post .post-title {
  font-weight: bold;
}

.post .post-short-description {
  padding: 10px;
  font-family: monospace;
  margin: 0;
}

.posts {
  display: flex;
}

@media screen and (min-width: 690px) {
  .posts > .post, .posts > a {
    width: 50%;
  }
}

@media screen and (min-width: 950px) {
  .posts > .post, .posts > a {
    width: 33%;
  }
}

@media screen and (max-width: 689px) {
  .posts > .post, .posts > a {
    width: 100%;
  }
}

.post :is(.post-title, .post-is-private) {
  display: inline-block;
}

.post .post-title {
  width: 80%;
}

.post .post-is-private {
  width: 20%;
  color: red;
}