:root {
    --button-background-color: rgb(3, 183, 54);
    --button-color: black;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header > div:first-of-type {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 4vh;
    min-height: 40px;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px;
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

:is(footer, header) .seperator {
    height: 1px;
    background-color: grey;
    margin: 10px 20px;
}

main {
    padding: 20px;
    flex-grow: 1;
    width: 800px;
    margin: auto;
}

@media screen and (max-width: 850px) {
    main {
        width: 100%;
    }
}

.flex-grow {
    flex-grow: 1;
}

button {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
}

button:hover {
    border-color: black;
    border: 1px solid;
    padding: 4px;
}

div.warning, p.warning,
div.error, p.error,
div.success, p.success {
    border-radius: 8px;
    padding: 10px;
}


div.warning, p.warning {
    background-color: orange;
}

div.error, p.error {
    background-color: #FF7070;
}

div.success, p.success {
    background-color: green;
}